<div ng-controller="examCtrl">
	<!-- Header -->
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="logo">
						<h1><a href="/home">Big Bang <span class="color">ASQ</span></a></h1>
						<div class="hmeta">Perfect CSQE Virtual Exam & Practice Website</div>
					</div>
				</div>
				<div style="text-align: right" class="col-md-5 col-md-offset-3 col-sm-5 col-sm-offset-2">

					<br>
					<h4>Welcome, {{currentUser.firstName}}</h4>
					<!--<span style="font-size: 20px; color: navy;">Time Remaining: {{Hours}}:{{Minutes}}:{{Seconds}}</span> -->
					<!--<timer interval="1000" end-time="3*60*60*1000">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer>-->
					|
					<span class="color customLink"><a href="" ng-click="quit()">Quit Exam</a></span> |
					<span class="color customLink"><a href="" ng-click="logout()">Logout</a></span>

				</div>
			</div>
		</div>
	</header>



	<div class="content">
		<div class="container">
			<!-- Content -->
			<hr>
			<button style="float: right" class="btn btn-warning" ng-click="submit()">
				<span class="glyphicon glyphicon-open"></span>  Submit Answers
			</button>
			<h4>In the exam mode, you will have to answer 80 questions in 2 hours.</h4>
			<h3>Let's get started!</h3>
			<br><br>
			<div style="background-color: #F0F8FF; padding: 20px">
				<p style="font-size: 20px; font-weight: bold">Q{{index + 1}}: {{questions[index].content}}</p>
				<br><br>
				<input name="choices" id="choiceA" type="radio" ng-click="choice='A'" ng-checked="questions[index].answer=='A'">
				<label for="choiceA">A: &nbsp;{{questions[index].choices.A}}</label>
				<br><br>
				<input name="choices" id="choiceB" type="radio" ng-click="choice='B'" ng-checked="questions[index].answer=='B'">
				<label for="choiceB">B: &nbsp;{{questions[index].choices.B}}</label>
				<br><br>
				<input name="choices" id="choiceC" type="radio" ng-click="choice='C'" ng-checked="questions[index].answer=='C'">
				<label for="choiceC">C: &nbsp;{{questions[index].choices.C}}</label>
				<br><br>
				<input name="choices" id="choiceD" type="radio" ng-click="choice='D'" ng-checked="questions[index].answer=='D'">
				<label for="choiceD">D: &nbsp;{{questions[index].choices.D}}</label>
				<br><br>
			</div>
			<br><br>
			<button style="float: left;" class="btn btn-success" ng-click="previous()" ng-disabled="index == 0">
				<span class="glyphicon glyphicon-chevron-left"></span>  Previous
			</button>
			<button style="float: right;" class="btn btn-success" ng-click="next()" ng-disabled="index == questions.length - 1">
				Next  <span class="glyphicon glyphicon-chevron-right"></span>
			</button>
			<br><br>
			<hr>
		</div>
	</div>

	<div id="div1"  ng-mouseover="mouseover()" ng-mouseout="mouseout()">
		<h3>Question List</h3>
		<hr>
		<ul>
			<li>Q1</li>
			<li>Q2</li>
			<li>Q3</li>
			<li>Q4</li>
			<li>Q5</li>
			<li>Q6</li>
			<li>Q7</li>
			<li>Q8</li>
			<li>Q9</li>
			<li>Q10</li>
			<li>Q11</li>
			<li>Q12</li>
			<li>Q13</li>
			<li>Q14</li>
			<li>Q15</li>
			<li>Q16</li>
			<li>Q17</li>
			<li>Q18</li>
			<li>Q19</li>
			<li>Q20</li>
			<li>Q21</li>
			<li>Q22</li>
			<li>Q23</li>
			<li>Q24</li>
			<li>Q25</li>
			<li>Q26</li>
			<li>Q27</li>
			<li>Q28</li>
			<li>Q29</li>
			<li>Q30</li>
			<li>Q31</li>
			<li>Q32</li>
			<li>Q33</li>
			<li>Q34</li>
			<li>Q35</li>
			<li>Q36</li>
			<li>Q37</li>
			<li>Q38</li>
			<li>Q39</li>
			<li>Q40</li>
			<li>Q41</li>
			<li>Q42</li>
			<li>Q43</li>
			<li>Q44</li>
			<li>Q45</li>
			<li>Q46</li>
			<li>Q47</li>
			<li>Q48</li>
			<li>Q49</li>
			<li>Q50</li>
			<li>Q51</li>
			<li>Q52</li>
			<li>Q53</li>
			<li>Q54</li>
			<li>Q55</li>
			<li>Q56</li>
			<li>Q57</li>
			<li>Q58</li>
			<li>Q59</li>
			<li>Q60</li>
			<li>Q61</li>
			<li>Q62</li>
			<li>Q63</li>
			<li>Q64</li>
			<li>Q65</li>
			<li>Q66</li>
			<li>Q67</li>
			<li>Q68</li>
			<li>Q69</li>
			<li>Q70</li>
			<li>Q71</li>
			<li>Q72</li>
			<li>Q73</li>
			<li>Q74</li>
			<li>Q75</li>
			<li>Q76</li>
			<li>Q77</li>
			<li>Q78</li>
			<li>Q79</li>
			<li>Q80</li>
		</ul>
	</div>


	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div style="text-align: center" class="copy">
						<h5>ASQ CSQE Virtual Exam & Practice</h5>
						<p>&copy; <a href="#">2015 Big Bang ASQ Exam</a></p>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</footer>
</div>