<!--<div>-->
<!--<span>Your score is {{report.score}}</span>-->
<!--<span>{{report}}</span>-->
<!--</div>-->
<div>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="logo">
                        <h1><a href="/home">Big Bang <span class="color">ASQ</span></a></h1>
                        <div class="hmeta">Perfect CSQE Virtual Exam & Practice Website</div>
                    </div>
                </div>
                <div style="text-align: right" class="col-md-5 col-md-offset-3 col-sm-5 col-sm-offset-2">

                    <br>
                    <h4>Welcome, {{currentUser.firstName}}</h4>
                    <span class="color customLink"><a href="/home">Home</a></span> |
                    <span class="color customLink"><a href="" ng-click="logout()">Logout</a></span>

                </div>
            </div>
        </div>
    </header>



    <div class="content">
        <div class="container">
            <!-- Content -->
            <hr>
            <br><br>
            <div>
                <h3 ng-if="!questionDistribution" style="display: inline;">Your score is {{report.score}}! ({{80 - wrong}}/80)</h3>
                <h3 ng-if="questionDistribution" style="display: inline;">Your score is {{report.score}}! ({{questionDistribution.total
                    -report.ep
                    -report.gk
                    -report.ma
                    -report.pm
                    -report.scm
                    -report.sqm
                    -report.svv
                    }}/{{questionDistribution.total}})</h3>

                <meter style="height: 20px; width: 200px; margin: 0 30px" low="60" high="80" max="100" optimum="100" value="{{report.score}}">{{report.score}}</meter>
            </div>
            <!--<div>-->
            <!--<p style="font-size: 20px; margin: 30px 0">Sub scores in each category:</p>-->
            <!--<blockquote>gk: 11/11 100% <meter style="height: 20px; width: 200px; margin: 0 30px" low="60" high="80" max="100" optimum="100" value="{{report.score}}">{{report.score}}</meter></blockquote>-->
            <!--<blockquote>ep</blockquote>-->
            <!--<blockquote>ma</blockquote>-->
            <!--<blockquote>pm</blockquote>-->
            <!--<blockquote>scm</blockquote>-->
            <!--<blockquote>sqm</blockquote>-->
            <!--<blockquote>sw</blockquote>-->
            <!--</div>-->

            <!--============exam table=========-->
            <table ng-if="!questionDistribution" class="table table-striped" style="font-size: 16px; margin: 50px 0;">
                <thead>
                <tr>
                    <th colspan="4">Sub scores in each category:</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Software General Knowledge</td>
                    <td>{{11 - report.gk}}/11</td>
                    <td>{{report.gkScore}}</td>
                    <td><meter style="height: 20px; width: 200px; margin: 0 30px" low="60" high="80" max="100" optimum="100" value="{{report.gkScore}}">{{report.gkScore}}</meter></td>
                </tr>
                <tr>
                    <td>ep</td>
                    <td>{{11 - report.ep}}/11</td>
                    <td>{{report.epScore }}</td>
                    <td><meter style="height: 20px; width: 200px; margin: 0 30px" low="60" high="80" max="100" optimum="100" value="{{report.epScore }}">{{report.epScore }}</meter></td>
                </tr>
                <tr>
                    <td>ma</td>
                    <td>{{11 - report.ma}}/11</td>
                    <td>{{report.maScore }}</td>
                    <td><meter style="height: 20px; width: 200px; margin: 0 30px" low="60" high="80" max="100" optimum="100" value="{{report.maScore }}">{{report.maScore }}</meter></td>
                </tr>
                <tr>
                    <td>pm</td>
                    <td>{{11 - report.pm}}/11</td>
                    <td>{{report.pmScore }}</td>
                    <td><meter style="height: 20px; width: 200px; margin: 0 30px" low="60" high="80" max="100" optimum="100" value="{{report.pmScore }}">{{report.pmScore }}</meter></td>
                </tr>
                <tr>
                    <td>scm</td>
                    <td>{{12 - report.scm}}/12</td>
                    <td>{{report.scmScore }}</td>
                    <td><meter style="height: 20px; width: 200px; margin: 0 30px" low="60" high="80" max="100" optimum="100" value="{{report.scmScore }}">{{report.scmScore }}</meter></td>
                </tr>
                <tr>
                    <td>sqm</td>
                    <td>{{12 - report.sqm}}/12</td>
                    <td>{{report.sqmScore}}</td>
                    <td><meter style="height: 20px; width: 200px; margin: 0 30px" low="60" high="80" max="100" optimum="100" value="{{report.sqmScore}}">{{report.sqmScore}}</meter></td>
                </tr>
                <tr>
                    <td>svv</td>
                    <td>{{12 - report.svv}}/12</td>
                    <td>{{report.svvScore}}</td>
                    <td><meter style="height: 20px; width: 200px; margin: 0 30px" low="60" high="80" max="100" optimum="100" value="{{report.svvScore}}">{{report.svvScore}}</meter></td>
                </tr>
                </tbody>
            </table>
            <!--=======practise table=========-->
            <table ng-if="questionDistribution" class="table table-striped" style="font-size: 16px; margin: 50px 0;">
                <thead>
                <tr>
                    <th colspan="4">Sub scores in each category:</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-if="questionDistribution.data.EP">
                    <td>Software General Knowledge</td>
                    <td>{{questionDistribution.data.EP - report.ep}}/{{questionDistribution.data.EP}}</td>
                    <td>{{report.epScore}}</td>
                    <td><meter style="height: 20px; width: 200px; margin: 0 30px" low="60" high="80" max="100" optimum="100" value="{{report.epScore}}">{{report.epScore}}</meter></td>
                </tr>
                <tr ng-if="questionDistribution.data.GK">
                    <td>gk</td>
                    <td>{{questionDistribution.data.GK - report.gk}}/{{questionDistribution.data.GK}}</td>
                    <td>{{report.gkScore }}</td>
                    <td><meter style="height: 20px; width: 200px; margin: 0 30px" low="60" high="80" max="100" optimum="100" value="{{report.gkScore }}">{{report.gkScore }}</meter></td>
                </tr>
                <tr ng-if="questionDistribution.data.MA">
                    <td>ma</td>
                    <td>{{questionDistribution.data.MA - report.ma}}/{{questionDistribution.data.MA}}</td>
                    <td>{{report.maScore }}</td>
                    <td><meter style="height: 20px; width: 200px; margin: 0 30px" low="60" high="80" max="100" optimum="100" value="{{report.maScore }}">{{report.maScore }}</meter></td>
                </tr>
                <tr ng-if="questionDistribution.data.PM">
                    <td>pm</td>
                    <td>{{questionDistribution.data.PM - report.pm}}/{{questionDistribution.data.PM}}</td>
                    <td>{{report.pmScore }}</td>
                    <td><meter style="height: 20px; width: 200px; margin: 0 30px" low="60" high="80" max="100" optimum="100" value="{{report.pmScore }}">{{report.pmScore }}</meter></td>
                </tr>
                <tr ng-if="questionDistribution.data.SCM">
                    <td>scm</td>
                    <td>{{questionDistribution.data.SCM - report.scm}}/{{questionDistribution.data.SCM}}</td>
                    <td>{{report.scmScore }}</td>
                    <td><meter style="height: 20px; width: 200px; margin: 0 30px" low="60" high="80" max="100" optimum="100" value="{{report.scmScore }}">{{report.scmScore }}</meter></td>
                </tr>
                <tr ng-if="questionDistribution.data.SQM">
                    <td>sqm</td>
                    <td>{{questionDistribution.data.SQM - report.sqm}}/{{questionDistribution.data.SQM}}</td>
                    <td>{{report.sqmScore}}</td>
                    <td><meter style="height: 20px; width: 200px; margin: 0 30px" low="60" high="80" max="100" optimum="100" value="{{report.sqmScore}}">{{report.sqmScore}}</meter></td>
                </tr>
                <tr ng-if="questionDistribution.data.SVV">
                    <td>svv</td>
                    <td>{{questionDistribution.data.SVV - report.svv}}/{{questionDistribution.data.SVV}}</td>
                    <td>{{report.svvScore}}</td>
                    <td><meter style="height: 20px; width: 200px; margin: 0 30px" low="60" high="80" max="100" optimum="100" value="{{report.svvScore}}">{{report.svvScore}}</meter></td>
                </tr>
                </tbody>
            </table>

            <button>Review Questions</button>
            <button>Hide</button>
            <br>
            questions reviewing


            <hr>
        </div>
    </div>



    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div style="text-align: center" class="copy">
                        <h5>ASQ CSQE Virtual Exam & Practice</h5>
                        <p>&copy; <a href="/about">2015 Big Bang ASQ Exam</a></p>
                        <p>Questions Provided by <a href="http://www.qualitycouncil.com/CSQE.html" target="_blank">Quality Council of Indiana</a> and by <a href="http://www.westfallteam.com/quiz_listing" target="_blank">Linda Westfall</a></p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </footer>
</div>