<!--<div>-->
<!--<span>Your score is {{report.score}}</span>-->
<!--<span>{{report}}</span>-->
<!--</div>-->
<div>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="logo">
                        <h1><a href="/home">Big Bang <span class="color">ASQ</span></a></h1>
                        <div class="hmeta">Perfect CSQE Virtual Exam & Practice Website</div>
                    </div>
                </div>
                <div style="text-align: right" class="col-md-5 col-md-offset-3 col-sm-5 col-sm-offset-2">

                    <br>
                    <h4>Welcome, {{currentUser.firstName}}</h4>
                    <span class="color customLink"><a href="/home">Home</a></span> |
                    <span class="color customLink"><a href="" ng-click="logout()">Logout</a></span>

                </div>
            </div>
        </div>
    </header>



    <div class="content">
        <div class="container">
            <!-- Content -->
            <hr>
            <br><br>
            <div>
                <h3 style="display: inline;">Your score is {{historyDetail[0].score}}! ({{historyDetail[0].total - historyDetail[0].report.wrong.length}}/{{historyDetail[0].total}})</h3>
                <meter style="height: 20px; width: 200px; margin: 0 30px" low="60" high="80" max="100" optimum="100" value="{{historyDetail[0].score}}">{{historyDetail[0].score}}</meter>
            </div>
            <!--<div>-->
            <!--<p style="font-size: 20px; margin: 30px 0">Sub scores in each category:</p>-->
            <!--<blockquote>gk: 11/11 100% <meter style="height: 20px; width: 200px; margin: 0 30px" low="60" high="80" max="100" optimum="100" value="{{report.score}}">{{report.score}}</meter></blockquote>-->
            <!--<blockquote>ep</blockquote>-->
            <!--<blockquote>ma</blockquote>-->
            <!--<blockquote>pm</blockquote>-->
            <!--<blockquote>scm</blockquote>-->
            <!--<blockquote>sqm</blockquote>-->
            <!--<blockquote>sw</blockquote>-->
            <!--</div>-->

            <!--============exam table=========-->
            <table class="table table-striped" style="font-size: 16px; margin: 50px 0;">
                <thead>
                <tr>
                    <th colspan="4">Sub scores in each category:</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-if="historyDetail[0].gkNumber">
                    <td>Software General Knowledge</td>
                    <td>{{historyDetail[0].gkNumber - historyDetail[0].gkWrong}}/{{historyDetail[0].gkNumber}}</td>
                    <td>{{report.gkScore}}</td>
                    <td><meter style="height: 20px; width: 200px; margin: 0 30px" low="60" high="80" max="100" optimum="100" value="{{historyDetail[0].report.gkScore}}">{{historyDetail[0].report.gkScore}}</meter></td>
                </tr>
                <tr ng-if="historyDetail[0].epNumber">
                    <td>ep</td>
                    <td>{{historyDetail[0].epNumber - historyDetail[0].epWrong}}/{{historyDetail[0].epNumber}}</td>
                    <td>{{report.epScore }}</td>
                    <td><meter style="height: 20px; width: 200px; margin: 0 30px" low="60" high="80" max="100" optimum="100" value="{{historyDetail[0].report.epScore }}">{{historyDetail[0].report.epScore }}</meter></td>
                </tr>
                <tr ng-if="historyDetail[0].maNumber">
                    <td>ma</td>
                    <td>{{historyDetail[0].maNumber - historyDetail[0].maWrong}}/{{historyDetail[0].maNumber}}</td>
                    <td>{{report.maScore }}</td>
                    <td><meter style="height: 20px; width: 200px; margin: 0 30px" low="60" high="80" max="100" optimum="100" value="{{historyDetail[0].report.maScore }}">{{historyDetail[0].report.maScore }}</meter></td>
                </tr>
                <tr ng-if="historyDetail[0].pmNumber">
                    <td>pm</td>
                    <td>{{historyDetail[0].pmNumber - historyDetail[0].pmWrong}}/{{historyDetail[0].pmNumber}}</td>
                    <td>{{report.pmScore }}</td>
                    <td><meter style="height: 20px; width: 200px; margin: 0 30px" low="60" high="80" max="100" optimum="100" value="{{historyDetail[0].report.pmScore }}">{{historyDetail[0].report.pmScore }}</meter></td>
                </tr>
                <tr ng-if="historyDetail[0].scmNumber">
                    <td>scm</td>
                    <td>{{historyDetail[0].scmNumber - historyDetail[0].scmWrong}}/{{historyDetail[0].scmNumber}}</td>
                    <td>{{report.scmScore }}</td>
                    <td><meter style="height: 20px; width: 200px; margin: 0 30px" low="60" high="80" max="100" optimum="100" value="{{historyDetail[0].report.scmScore }}">{{historyDetail[0].report.scmScore }}</meter></td>
                </tr>
                <tr ng-if="historyDetail[0].sqmNumber">
                    <td>sqm</td>
                    <td>{{historyDetail[0].sqmNumber - historyDetail[0].sqmWrong}}/{{historyDetail[0].sqmNumber}}</td>
                    <td>{{report.sqmScore}}</td>
                    <td><meter style="height: 20px; width: 200px; margin: 0 30px" low="60" high="80" max="100" optimum="100" value="{{historyDetail[0].report.sqmScore}}">{{historyDetail[0].report.sqmScore}}</meter></td>
                </tr>
                <tr ng-if="historyDetail[0].svvNumber">
                    <td>svv</td>
                    <td>{{historyDetail[0].svvNumber - historyDetail[0].svvWrong}}/{{historyDetail[0].svvNumber}}</td>
                    <td>{{report.svvScore}}</td>
                    <td><meter style="height: 20px; width: 200px; margin: 0 30px" low="60" high="80" max="100" optimum="100" value="{{historyDetail[0].report.svvScore}}">{{historyDetail[0].report.svvScore}}</meter></td>
                </tr>
                </tbody>
            </table>
            <button ng-click="review()">Review Questions</button>
            <button ng-click="hide()">Hide</button>
            <br>
            questions reviewing


            <hr>
        </div>
    </div>
    <section ng-if="showReview">
        <div ng-repeat="item in historyDetail[0].report.wrong">
            <p>Category: {{item.category}}</p>
            <p>{{item.content}}</p><br/>
            <p>A. {{item.choices.A}}</p>
            <p>B. {{item.choices.B}}</p>
            <p>C. {{item.choices.C}}</p>
            <p>D. {{item.choices.D}}</p>
            <p>Correct: {{item.correctChoice}}. {{item.choices[item.correctChoice]}}</p><br/>
            <p>Answer: {{item.answer? item.answer: 'none'}}</p><br/>
        </div>
    </section>


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div style="text-align: center" class="copy">
                        <h5>ASQ CSQE Virtual Exam & Practice</h5>
                        <p>&copy; <a href="/about">2015 Big Bang ASQ Exam</a></p>
                        <p>Questions Provided by <a href="http://www.qualitycouncil.com/CSQE.html" target="_blank">Quality Council of Indiana</a> and by <a href="http://www.westfallteam.com/quiz_listing" target="_blank">Linda Westfall</a></p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </footer>
</div>
