<div>
    <input ng-model="GK" type="checkbox"/>GK   <input ng-model="GKValue"  class="input-sm" type="text"/><br/>
    <input ng-model="EP" type="checkbox"/>EP   <input ng-model="EPValue"  class="input-sm" type="text"/><br/>
    <input ng-model="MA" type="checkbox"/>MA   <input ng-model="MAValue"  class="input-sm" type="text"/><br/>
    <input ng-model="PM" type="checkbox"/>PM   <input ng-model="PMValue"  class="input-sm" type="text"/><br/>
    <input ng-model="SCM" type="checkbox"/>SCM <input ng-model="SCMValue" class="input-sm" type="text"/><br/>
    <input ng-model="SQM" type="checkbox"/>SQM <input ng-model="SQMValue" class="input-sm" type="text"/><br/>
    <input ng-model="SVV" type="checkbox"/>SVV <input ng-model="SVVValue" class="input-sm" type="text"/><br/>
    <button ng-click="submit()">submit</button>
</div>